{% extends 'blogs/base.html' %} {% block content %} {% for new in news %}
<article class="media content-section">
    <div class="media-body">
        <img class="img-fluid img-thumbnail" src="{{ new.image.url }}">
        <h3 class="article-title"><u>{{ new.title }}</u>
        </h3>
        <h4 class="article-title">{{ new.categories }}</h4>
        <p class="article-content">{{ new.content }}</p>
        <div class="article-metadata">
            <small class="text-muted">{{ new.date|date:"F d, Y" }}</small>
            <h6 class="article-title">Written by-{{ new.editor }}</h6>
        </div>
        <button type="button" class="btn btn-outline-primary">read more</button>
    </div>
</article>
{% endfor %} {% endblock %}